/*reset css重置样式 */
*,
::before,
::after {
    /*选中所有的元素和伪元素*/
    margin: 0;
    padding: 0;
    /*针对移动端*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*清除点击高亮效果*/
    -webkit-tap-highlight-color: transparent;
}

body {
    font-size: 14px;
    font-family: 'Microsoft Yahei', sans-serif;
    color: #333333;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333333;
}

input, textarea {
    outline: none;
    border: none;
    resize: none;
    /*清除移动端特有的输入框的样式*/
    -webkit-appearance: none;
}

/*common css公用样式*/
.f_left {
    float: left;
}

.f_right {
    float: right;
}

.clearfix::before,.clearfix::after{
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

.m_l10 {
    margin-left: 10px;
}

.m_r10 {
    margin-right: 10px;
}

/*精灵图*/
/*一般情况下移动端图标会做2倍的压缩，解决图片失真问题*/
/*class="icon_XXX" class="red icon_XXX"*/
[class^="icon_"],[class*="icon_"] {
    background: url("../img/sprites.png") no-repeat;
    background-size: 200px 200px;
}