/*common css  共用样式*/
body {
    font-size: 14px;
    font-family: "Microsoft YaHei", sans-serif;
}

a {
    color: #666;
}

a:hover {
    text-decoration: none;
    color: #666;
}

/*使用自定义字体图标*/
@font-face {
    font-family: wjs_font_icon;
    src: url(../fonts/MiFie-Web-Font.woff) format('woff'),
    url(../fonts/MiFie-Web-Font.ttf) format('truetype'),
    url(../fonts/MiFie-Web-Font.svg) format('svg'),
    url(../fonts/MiFie-Web-Font.eot) format('embedded-opentype');
}


/*model css  模块样式*/
.wjs_topBar {
    border-bottom: 1px solid #ccc;
    font-size: 12px;

}

.wjs_topBar > .container {
}

.wjs_topBar > .container > div {
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.wjs_topBar > .container > div ~ div {
    border-left: 1px solid #ccc;
}

/*当预设的bootstrap样式达不到需求的时候，可以自定义样式*/
.wjs_topBar .btn_register {
    background: #e92322;
    color: #fff;
    border: none;
    padding: 3px 10px;
    font-size: 12px;
}

.wjs_topBar .btn_login {
    color: #666;
    font-size: 12px;
}

.wjs_topBar .btn_login:hover {
    text-decoration: none;
}

.wjs_app {
    display: block;
    position: relative;
}

.wjs_app > img {
    display: none;
}

.wjs_app:hover img {
    display: block;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -60px;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 999;
}

/*bootstrap样式navbar-default替换为自定义样式wjs_nav*/
.wjs_nav {
    border: none;
    border-bottom: 1px solid #ccc;
    background: #fff;
    margin-bottom: 0px;
    border-radius: 0px;

    z-index: 998;
    width: 100%;
    top:0;
    left:0;
}

.wjs_nav .wjs_icon_logo {
    font-size: 50px;
    color: #e92322;
    vertical-align: middle;
}

.wjs_nav .wjs_icon_name {
    font-size: 30px;
    color: #333;
    vertical-align: middle;
}

.wjs_nav .navbar-brand {
    color: #777;
    height: 80px;
    line-height: 50px;
}

.wjs_nav .navbar-brand:hover,
.wjs_nav .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.wjs_nav .navbar-text {
    color: #777;
}

.wjs_nav .navbar-nav > li > a {
    color: #777;
    height: 80px;
    line-height: 50px;
}

.wjs_nav .navbar-nav > li > a:hover,
.wjs_nav .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 3px solid #e92322;
}

.wjs_nav .navbar-nav > .active > a,
.wjs_nav .navbar-nav > .active > a:hover,
.wjs_nav .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #fff;
    border-bottom: 3px solid #e92322;
}

.wjs_nav .navbar-nav > .disabled > a,
.wjs_nav .navbar-nav > .disabled > a:hover,
.wjs_nav .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}

.wjs_nav .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
}

.wjs_nav .navbar-toggle:hover,
.wjs_nav .navbar-toggle:focus {
    background-color: #ddd;
}

.wjs_nav .navbar-toggle .icon-bar {
    background-color: #888;
}

.wjs_nav .navbar-collapse,
.wjs_nav .navbar-form {
    border-color: #e7e7e7;
}

.wjs_nav .navbar-nav > .open > a,
.wjs_nav .navbar-nav > .open > a:hover,
.wjs_nav .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
.xjkj_weixin{
    width: 150px;
    height: 200px;
}



/*信息*/
.wjs_info {
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}

.wjs_info > .container {
    width: 900px;
}

@media (min-width: 768px) and (max-width: 992px) {

    .wjs_info > .container {
        width: 750px;
    }
}

.wjs_info .wjs_icon_info {
    font-size: 30px;
}

.wjs_info .media {
    display: block;
    padding: 10px 0;
}

.wjs_info .media:hover {
    color: #e92322;
}


/*预约*/
.wjs_book {
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}

/*在中等屏幕和大屏生效*/

@media (min-width: 992px) {
    .wjs_book > .container {
        width: 900px;
    }
}

.wjs_book .wjs_icon_clock {
    font-size: 24px;
}

.wjs_book .wjs_icon_video {
    font-size: 20px;
}

.wjs_book .wjs_book_link {
    color: #e92322;
    border-bottom: 1px dashed #e92322;
}

.wjs_book .wjs_book_video:hover {
    color: #e92322;
}


/*职位*/
.wjs_info{
    padding:30px 0;
    border-bottom: 1px solid #ccc;
}
.wjs_info>.container{
    width: 900px;
}

@media(min-width:768px)and(max-width:992px){
    .wjs_info>.container{
        width: 750px;
    }
}
.wjs_info .wjs_icon_info{
    font-size: 30px;
}
.wjs_info .media{
    display:block;
    padding:10px 0;
}
.wjs_info .media:hover{
    color:#e92322;
}
.wjs_info{
    background-color: #cccccc;
}

/*Footer区*/
#gfooter {
    background-color: #000;
}
.foot_dark {
    background: #000;
    /*color: #494949;*/
    color: #7b7b7b;
}
.foot {
    /*background: #fff;*/
    /*color: #000;*/
    font: 12px/20px "微软雅黑","宋体";
    min-width: 960px;
    margin: 0 auto;
    text-align: left;
}
#gfooter .foot_top {
    /* background-color: #1e2628; */
    background-color: #ffffff;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, div, input, video, sup, sub, table {
    margin: 0;
    padding: 0;
}
.healthy {
    clear: both;
    background: #1e2628;
    padding: 8px 3%;
    text-align: center;
    color: #4f5f5f;
}
.healthy strong {
    margin: 0 5px 0 0;
}
b, strong {
    font-weight: bolder;
}
#gfooter .foot_cpright {
    padding: 50px 0 150px;
    width: 1200px;
    margin: 0 auto;
}
.foot_lefts {
    float: left;
    display: inline;
}
.foot_dark .foot_ieg_logo {
    background: url(/static/home/images/common/logo-bottom.png);
    background-size: 90%;
    background-repeat: no-repeat;
}
.foot_dark a {
    color: #7b7b7b;
}
.foot_ieg_logo {
    float: left;
    /*width: 180px;*/
    width: 300px;
    height: 135px;
    text-indent: -999em;
    overflow: hidden;
    margin: 10px 0 0 10px;
    /*background: url(//game.gtimg.cn/images/js/2018foot/logo/foot-light.png);*/
}
#gfooter .gfooter_selflogo {
    width: 109px;
    /*background-image: url(//game.gtimg.cn/images/wuxia/web201501/nav-copy.png);*/
    /*background: url(/static/home/images/common/logo.png);*/
    background-size: 70%;
    background-repeat: no-repeat;
}
.foot_left {
    float: left;
    text-indent: -999em;
    overflow: hidden;
    margin: 10px 0 0 10px;
    width: 85px;
    height: 35px;
}
.foot_links {
    display: inline;
    float: right;
    width: 682px;
    list-style: none;
}
.foot_links .link_map {
    font-size: 0;
}
.foot_links li {
    line-height: 20px;
    overflow: hidden;
}
.foot_links .link_map span, .foot_links .link_map a {
    font-size: 12px;
    color: #7b7b7b;
}
.f_line {
    margin: 0 2px;
}